.Slider {
  -webkit-appearance: none;
  /* height: 200px; */
  height: 100%;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

.Slider::-moz-range-track {
  background: #ccc;
  border: 0;
}

.Slider::-moz-focus-inner { 
border: 0; 
}