.vertSlider {
    -webkit-appearance: none;
    height: 260px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

.vertSlider::-moz-range-track {
    background: #ccc;
    border: 0;
}

.vertSlider::-moz-focus-inner { 
  border: 0; 
}